In [5]:
import pandas as pd

In [ ]:
# ! sudo apt install curl
! curl -O http://mtg.upf.edu/static/datasets/last.fm/lastfm-dataset-1K.tar.gz
! curl -O  http://mtg.upf.edu/static/datasets/last.fm/lastfm-dataset-360K.tar.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  8  641M    8 54.8M    0     0  1957k      0  0:05:35  0:00:28  0:05:07 1584k

In [ ]:
! tar -xf ./lastfm-dataset-1K.tar.gz
! tar -xf ./lastfm-dataset-360K.tar.gz

### Dataset ~1K users, demographic data

In [2]:
lastfm_1_demo = pd.read_csv('lastfm-dataset-1K/userid-profile.tsv', sep='\t', header=0,
    names=[
        'user_id', 'gender', 'age', 'country' , 'signup'
    ])
lastfm_1_demo["signup"] = pd.to_datetime(lastfm_1_demo.signup)
lastfm_1_demo.sort_values(['user_id'], ascending=True, inplace=True)

In [3]:
lastfm_1_demo.head()

       user_id gender   age        country     signup
0  user_000001      m   NaN          Japan 2006-08-13
1  user_000002      f   NaN           Peru 2006-02-24
2  user_000003      m  22.0  United States 2005-10-30
3  user_000004      f   NaN            NaN 2006-04-26
4  user_000005      m   NaN       Bulgaria 2006-06-29

In [4]:
lastfm_1_demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992 entries, 0 to 991
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  992 non-null    object
 1   gender   884 non-null    object
 2   age      286 non-null    float64
 3   country  907 non-null    object
 4   signup   984 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 46.5+ KB

In [5]:
lastfm_1_demo.describe(include='all', datetime_is_numeric=True)

,user_id,gender,age,country,signup
count,992,884,286.000000,907,984
unique,992,2,NaN,66,NaN
top,user_000360,m,NaN,United States,NaN
freq,1,502,NaN,228,NaN
mean,NaN,NaN,25.367133,NaN,2006-02-18 21:05:51.219512320
min,NaN,NaN,3.000000,NaN,2002-10-29 00:00:00
25%,NaN,NaN,21.000000,NaN,2005-08-14 00:00:00
50%,NaN,NaN,23.000000,NaN,2006-03-03 12:00:00
75%,NaN,NaN,28.000000,NaN,2006-08-30 06:00:00
max,NaN,NaN,103.000000,NaN,2009-11-05 00:00:00
std,NaN,NaN,8.314952,NaN,NaN

### Dataset ~1K users, behavioral data

In [6]:
lastfm_1_behav = pd.read_csv('lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv', sep='\t', header=None,
                             names=[
                                    'user_id', 'timestamp', 'artist_id', 'artist_name', 'track_id', 'track_name'
                                ],
                             skiprows=[
                                    2120260-1, 2446318-1, 11141081-1,
                                    11152099-1, 11152402-1, 11882087-1,
                                    12902539-1, 12935044-1, 17589539-1
                                ]) # use chunksize=#_of_rows if you get out of memory 
lastfm_1_behav["timestamp"] = pd.to_datetime(lastfm_1_behav.timestamp)
lastfm_1_behav.sort_values(['user_id', 'timestamp'], ascending=True, inplace=True)

In [7]:
lastfm_1_behav.head()

,user_id,timestamp,artist_id,artist_name,track_id,track_name
16684,user_000001,2006-08-13 13:59:20+00:00,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,c4633ab1-e715-477f-8685-afa5f2058e42,The Launching Of Big Face
16683,user_000001,2006-08-13 14:03:29+00:00,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,bc2765af-208c-44c5-b3b0-cf597a646660,Zn Zero
16682,user_000001,2006-08-13 14:10:43+00:00,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,aa9c5a80-5cbe-42aa-a966-eb3cfa37d832,The Return Of Super Barrio - End Credits
16681,user_000001,2006-08-13 14:17:40+00:00,67fb65b5-6589-47f0-9371-8a40eb268dfb,Tommy Guerrero,d9b1c1da-7e47-4f97-a135-77260f2f559d,Mission Flats
16680,user_000001,2006-08-13 14:19:06+00:00,1cfbc7d1-299c-46e6-ba4c-1facb84ba435,Artful Dodger,120bb01c-03e4-465f-94a0-dce5e9fac711,What You Gonna Do?

In [8]:
lastfm_1_behav.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19098853 entries, 16684 to 19080480
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   timestamp    datetime64[ns, UTC]
 2   artist_id    object
 3   artist_name  object
 4   track_id     object
 5   track_name   object
dtypes: datetime64[ns, UTC](1), object(5)
memory usage: 1020.0+ MB

In [9]:
lastfm_1_behav.describe(include='all', datetime_is_numeric=True)

,user_id,timestamp,artist_id,artist_name,track_id,track_name
count,19098853,19098853,18498005,19098853,16936134,19098841
unique,992,NaN,107295,173921,960402,1083471
top,user_000949,NaN,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,db16d0b3-b8ce-4aa8-a11a-e4d53cc7f8a6,Intro
freq,183103,NaN,115099,115099,3991,17561
mean,NaN,2007-09-21 13:53:40.753054464+00:00,NaN,NaN,NaN,NaN
min,NaN,2005-02-14 00:00:07+00:00,NaN,NaN,NaN,NaN
25%,NaN,2006-11-23 19:35:07+00:00,NaN,NaN,NaN,NaN
50%,NaN,2007-10-21 10:29:30+00:00,NaN,NaN,NaN,NaN
75%,NaN,2008-08-22 08:22:27+00:00,NaN,NaN,NaN,NaN
max,NaN,2013-09-29 18:32:04+00:00,NaN,NaN,NaN,NaN

In [10]:
# to reduce memory usage
lastfm_1_demo['user_id'] = lastfm_1_demo['user_id'].map(lambda x: int(x[5:])) 
lastfm_1_behav['user_id'] = lastfm_1_behav['user_id'].map(lambda x: int(x[5:]))

### Dataset ~360K users, demographic data

In [11]:
lastfm_360_demo = pd.read_csv('lastfm-dataset-360K/usersha1-profile.tsv', sep='\t', header=None,
                             names=['user_email', 'gender', 'age', 'country', 'signup'])
lastfm_360_demo["signup"] = pd.to_datetime(lastfm_360_demo.signup)

In [12]:
lastfm_360_demo.head()

,user_email,gender,age,country,signup
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,2007-02-01
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,2007-12-04
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,2006-09-01
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,2008-04-28
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,2006-01-27

In [13]:
lastfm_360_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359347 entries, 0 to 359346
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user_email  359347 non-null  object
 1   gender      326572 non-null  object
 2   age         284447 non-null  float64
 3   country     359347 non-null  object
 4   signup      359347 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 13.7+ MB

In [14]:
lastfm_360_demo.describe(include='all', datetime_is_numeric=True)

,user_email,gender,age,country,signup
count,359347,326572,284447.000000,359347,359347
unique,359347,2,NaN,239,NaN
top,4a08a71a6beabdda219c047349f12be1388b8765,m,NaN,United States,NaN
freq,1,241642,NaN,67044,NaN
mean,NaN,NaN,25.098046,NaN,2007-08-01 08:05:37.732609280
min,NaN,NaN,-1337.000000,NaN,2002-10-29 00:00:00
25%,NaN,NaN,20.000000,NaN,2006-10-21 00:00:00
50%,NaN,NaN,23.000000,NaN,2007-09-29 00:00:00
75%,NaN,NaN,28.000000,NaN,2008-07-17 00:00:00
max,NaN,NaN,1002.000000,NaN,2009-11-11 00:00:00
std,NaN,NaN,21.665742,NaN,NaN

### Dataset ~360K users, behavioral data

In [15]:
lastfm_360_behav = pd.read_csv('lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv', sep='\t', header=None, 
                              names=['user_email', 'artist_id', 'artist_name', 'plays'])

In [16]:
lastfm_360_behav.head()

,user_email,artist_id,artist_name,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706

In [17]:
lastfm_360_behav.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17535655 entries, 0 to 17535654
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   user_email   object
 1   artist_id    object
 2   artist_name  object
 3   plays        int64
dtypes: int64(1), object(3)
memory usage: 535.1+ MB

In [18]:
lastfm_360_behav.describe(include='all', datetime_is_numeric=True)

,user_email,artist_id,artist_name,plays
count,17535655,17309518,17535451,1.753566e+07
unique,358868,160112,292363,NaN
top,13c0df8a58cd3ca9e37d8e90662d2ad3c062eaa5,a74b1b7f-71a5-4011-9441-d0b5e4122711,radiohead,NaN
freq,166,77254,77254,NaN
mean,NaN,NaN,NaN,2.151932e+02
std,NaN,NaN,NaN,6.144815e+02
min,NaN,NaN,NaN,0.000000e+00
25%,NaN,NaN,NaN,3.500000e+01
50%,NaN,NaN,NaN,9.400000e+01
75%,NaN,NaN,NaN,2.240000e+02
max,NaN,NaN,NaN,4.191570e+05